/* admin */

.admin #container {
	width:700px;
	margin: 60px auto 50px auto;
	padding-right: 15px;
}

#adminPanel {
	display:inline-block;
	float:left;
	padding:0
}

#adminPanel li {
	float:left;
	list-style-type:none;
	border-right: 1px solid #CCC;
	padding:10px 15px 9px 15px;
}

#adminPanel li:nth-child(3) {
	border:none;
}

#slug {
	width:330px;
	float:right;
	margin-right:30px;
}

#createPost .message {
	width:579px
}

.admin #createPost #editTitle {
	margin-bottom:20px;
}

.admin input {
	border:none;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
}

#postTime {
	float:right;
	width:250px;
	margin-right:30px;
	margin-top:-44px;
}

#slugLink {
	float:left;
	margin-top: 1px;
	margin-right:5px;
}

#addPostLink {
	float:right;
	display:inline-block;
	margin-bottom:5px;
}

#editPost textarea {
	width:600px;
	height:75px;
	padding:5px;
	margin:6px 0;
	line-height: 1.4em;
	border:none;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
}

#editPost #editContent {
	height:300px;
}

#editPost input, #createPost #editTitle {
	width:660px;
	padding:5px;
	margin:6px 0;
	border:none;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
}

#editPost .labeledTextarea p {
	float:left;
	width:80px;
	line-height:70px;
}

#editPost .labeledTextarea textarea {
	float:left;
	width:520px;
	margin:10px 0;
}

#editPost .labeledInput p {
	float:left;
	width:80px;
}

#editPost .labeledInput input {
	float:left;
	width:520px;
	margin:10px 0;
}

#editTitle {
	font-size: 25px;
	font-weight: bold;
}

#submitPost, #editPost #submitPost {
	float:right;
	box-shadow: none;
	-webkit-box-shadow: none;
	width:100px;
	padding:10px 20px;
	margin-right:27px;
	margin-bottom:100px;
}

#adminBlogPosts {
	width:100%;
}

#adminBlogPosts td {
	border: 1px solid #EEE;
	padding: 7px 3px;
}