/* 
	* HTML5 âœ° Boilerplate
	*
	* What follows is the result of much research on cross-browser styling. 
	* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
	* Kroc Camen, and the H5BP dev community and team.
	*
	* Detailed information about this CSS: h5bp.com/css
	* 
	* ==|== normalize ==========================================================
*/

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block;}audio,canvas,video{display: inline-block;*display: inline;*zoom:1;}audio:not([controls]){display: none;}[hidden]{display: none;}html{font-size:100%;overflow-y: scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}body{margin:0;font-size:13px;line-height:1.231;}body,button,input,select,textarea{font-family: sans-serif;color:#222;}::-moz-selection{background:#fe57a1;color:#fff;text-shadow: none;}::selection{background:#fe57a1;color:#fff;text-shadow: none;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}blockquote{margin:1em 40px;}dfn{font-style: italic;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}ins{background:#ff9;color:#000;text-decoration: none;}mark{background:#ff0;color:#000;font-style: italic;font-weight:bold;}pre,code,kbd,samp{font-family: monospace,monospace;_font-family: 'courier new',monospace;font-size:1em;}q{quotes: none;}q:before,q:after{content: "";content: none;}small{font-size:85%;}sub,sup{font-size:75%;line-height:0;position: relative;vertical-align:baseline;}sup{top: -0.5em;}sub{bottom: -0.25em;}ul,ol{margin:1em 0;padding:0 0 0 40px;}dd{margin:0 0 0 40px;}nav ul,nav ol{list-style: none;list-style-image: none;margin:0;padding:0;}img{border:0;-ms-interpolation-mode:bicubic;vertical-align: middle;}svg:not(:root){overflow: hidden;}figure{margin:0;}form{margin:0;}fieldset{border:0;margin:0;padding:0;}label{cursor: pointer;}legend{border:0;*margin-left: -7px;padding:0;}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align: middle;}button,input{line-height: normal;*overflow: visible;}table button,table input{*overflow:auto;}button,input[type="button"],input[type="reset"],input[type="submit"]{cursor: pointer;-webkit-appearance:button;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;}input[type="search"]{-webkit-appearance: textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align: top;resize: vertical;}input:valid,textarea:valid{}input:invalid,textarea:invalid{background-color:#f0dddd;}table{border-collapse:collapse;border-spacing:0;}td{vertical-align: top;}


/* ==|== primary styles =====================================================
   Author: Mike van Rossum
   ========================================================================== */

a, p, li, pre { font-family:helvetica; font-size:13px}
a {color:#AE7001;text-decoration: none;}
a:hover {text-decoration: underline;}
h1 {font-size: 25px;}
.strike {text-decoration: line-through;}
.rTable {display:none}
.left {float:left}
.center, .post #container .center, #container .center {text-align:center}

::-moz-selection{ background: #cb8f42; color:white; text-shadow: none; }
::selection { background:#cb8f42; color:white; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #cb8f42; }

/* header */

#header h1 a {
	display:block;
	height:130px;
}

header {
	background:url('../img/headerGlow.png') center no-repeat #ae7001;
	border-bottom:2px solid #B07203
}

#header {
	width:800px;
	margin:auto;
	height:96px;
}

#header h1 {
	margin:0;
	padding:0;
	background:url('../img/logo.png') bottom no-repeat;
	width:325px; 
	height:130px;
}


/* menu */
#menu {
	width:800px;
	height:29px;
	margin:auto;
	clear:both;
	}  
	
#menu ul {
	margin-left:400px;
}

.admin #menu ul {
	margin-left: 433px;
}

#menu li {
	float: left;
	list-style: none;
	margin:0 12px;
	}
	
#menu li.back {
	border-top: 4px solid #b07203;
	height: 30px;
	position: absolute;
	z-index:-1;
	margin:0;
	}
	
#menu li a {
	text-decoration: none;
	color: #000;
	text-align: center;
	top: 5px;
	display: block;
	float: left;
	position: relative;
	margin: auto 5px;
	font-weight:100;
	height:30px;
	font-size:17px;
	}   
	
	
/* page plugin */

.page {
	opacity:0;
	display:none;
	width:655px;
	margin:30px auto 50px auto;
}

.page.current {
	margin-top:60px;
	opacity:1;
	display:block;
}

/* page CUSTOM STYLING */

.a, .b {float:left; width:315px;}
.b {margin-left:25px;}

.page h1 {
	font-weight: lighter;
	font-size: 25px;
}

.page .portfolio-item h3 {
	font-size: 16px;
	font-weight: lighter;
}

/* portfolio */

#pleft, #pright {
	float:left;
}

#pleft {
	width:225px;
	height:600px;
}

#pleft div {
	overflow:hidden;
	display:block;
	padding:5px;
}

#pleft p, #pleft a{
	float:right;
}

#pleft p {
	margin-right:10px;
}

#pleft a {
	border-radius: 20px;
	display:block;
	width:20px;
	height:20px;
	padding:10px;
	background-image: -webkit-linear-gradient(#cfa33f, #a5701f);
	background-image: -moz-linear-gradient(#cfa33f, #a5701f);
	background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5701f', endColorstr='#cfa33f');
	box-shadow: 0 0 10px #888;
	margin-right:10px;
}

#pleft a:hover {
	background-image: -webkit-linear-gradient(#a5701f, #cfa33f);
	background-image: -moz-linear-gradient(#a5701f, #cfa33f);
	background-image: filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfa33f', endColorstr='#a5701f');
}

div#pleft a.current {
	box-shadow:none;
}

#pleft .hide {
	opacity:0;
}

#pright {
	width:430px;
	height:300px;
	opacity:0;
}

#portfolio-items {
	display:none;
	opacity:0;
	visibility:hidden;
}

/* blog */

#blog-posts {
	margin-left: 55px;
}


#blog-posts a.blog-post {
	text-decoration:none;
	display:block;
	padding:7px;
	border-radius:10px;
	color:black;
	margin:0 0 5px 0;
}

#blog-posts a.blog-post time {
	float:right;
	display:block;
	margin-top:7px;
	font-style:italic;
}

#blog-posts a.blog-post p {
	clear:both;
}

.csstransitions #blog-posts a.blog-post {
	background-color:white;
	moz-transition: background-color .4s;
	-webkit-transition:background-color .4s;
	-o-transition: background-color .4s;
	-ms-transition: background-color .4s;
	transition: background-color .4s;
}

.csstransitions #blog-posts a.blog-post:hover {
	background-color:#eee;
}

#blog-posts p {
	margin:0;
	margin-bottom:5px;
	text-align:justify;
}

#blog-posts h2 {
	margin:5px 0 10px 0;
	float:left;
	font-size: 18px;
	font-weight: lighter;
}

#blog-nav a {
	display:block;
	float:left;
}

#blog-nav .right {
	float:right;
}

/* single post */

.post .alignnone {
	text-align:center;
}

.message, .adminBar {
	background: #eee;
	padding:10px 15px 9px 15px;
	border-radius:6px;
	border: 1px solid #ccc;
	margin:0;
}

#editPost .message {
	margin-bottom: 15px;
	width:577px;
}

.adminBar {
	float:right;
	display:inline-block;
}

.postTime {
	float:right;
	font-style:italic;
}

.post #container, .admin #container {
	width: 640px;
	margin: 60px auto 50px auto;
	padding-right: 15px;
}

.post #container {
	width: 511px;
}

.post #container h1 {
	margin-bottom: 5px;
}

.post #container p, .post #container li, .page p, .page li {
	text-align:justify;
	line-height: 1.4em;
}

code {
	background-color: #0d142c;
	color: #FFFFFF;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding:2px 4px;
}

pre {
	background-color: #0d142c;
	color: #FFFFFF;
	font-weight: normal;
	font-style: normal;
	line-height: 1.45em;
	border: 1px solid #CCCCCC;
	width: 540px;
	margin-left: -20px;
	overflow:auto;
	padding:7px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family:monaco;
	font-size:12px;
	text-align:left;
}

pre.sh_sourceCode .sh_keyword {
  color: #f9da44;
}

pre.sh_sourceCode .sh_type {
  color: #7e90a4;
}

pre.sh_sourceCode .sh_string {
  color: #6ecf43;
}

pre.sh_sourceCode .sh_regexp {
  color: #6ecf43;
}

pre.sh_sourceCode .sh_specialchar {
  color: #666666;
}

pre.sh_sourceCode .sh_comment {
  color: #a7aeae;
}

pre.sh_sourceCode .sh_number {
  color: #83c439;
}

pre.sh_sourceCode .sh_preproc {
  color: #F9DA44;
}

pre.sh_sourceCode .sh_function {
  color: #E16F30;
}

pre.sh_sourceCode .sh_url {
  color: #666666;
}

pre.sh_sourceCode .sh_date {
  color: #0000b3;
}

pre.sh_sourceCode .sh_time {
  color: #0000b3;
}

pre.sh_sourceCode .sh_file {
  color: #0000b3;
}

pre.sh_sourceCode .sh_ip {
  color: #666666;
}

pre.sh_sourceCode .sh_name {
  color: #666666;
}

pre.sh_sourceCode .sh_variable {
  color: white;
}

pre.sh_sourceCode .sh_oldfile {
  color: #666666;
}

pre.sh_sourceCode .sh_newfile {
  color: #666666;
}

pre.sh_sourceCode .sh_difflines {
  color: #0000b3;
}

pre.sh_sourceCode .sh_selector {
  color: #E16F30;
}

pre.sh_sourceCode .sh_property {
  color: #7E90A4;
}

pre.sh_sourceCode .sh_value {
  color: #F9DA44;
}

.socialite-loaded {
	float:left;
	margin-right:15px;
}

.post #share p {
	line-height: 66px;
	text-align: center;
	width:110px;
	height:66px;
	float:left;
}

#share {
	display:inline-block;
	padding:0 5px 0 5px;
}

#share > div {
	display:none;
}

#share.loaded > div {
	margin-top:14px;
/*	width:200px;*/
	overflow:hidden;
	display:block;
}

#share .facebook {
	width:46px;
	margin-left:15px;
	margin-right:18px;
}

#share .googleplus {
	margin-top: 1px;
}

/* analytics */
#dataTable {
	display:none;
}

#postAnalytics {
	background:#efefef;
	margin-left:-62px;
	width:640px;
}

#postAnalytics h1 {
	padding:5px;
	font-size:20px;
	margin-bottom:5px;
}

#hitsHistory {

}

.post #hitsHistory svg {
	background:#efefef;
}

/* admin */

#slug {
	width:330px;
	float:right;
	margin-right:30px;
}

#createPost .message {
	width:579px
}

.admin #createPost #editTitle {
	margin-bottom:20px;
}

.admin input {
	border:none;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
}

#postTime {
	float:right;
	width:250px;
	margin-right:30px;
	margin-top:-44px;
}

#slugLink {
	float:left;
	margin-top: 1px;
	margin-right:5px;
}

#addPostLink {
	float:right;
	display:inline-block;
	margin-bottom:5px;
}

.admin #blog-posts a {
	overflow:hidden;
}

#editPost textarea {
	width:600px;
	height:75px;
	padding:5px;
	margin:6px 0;
	line-height: 1.4em;
	border:none;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
}

#editPost #editContent {
	height:300px;
}

#editPost input, #createPost #editTitle {
	width:600px;
	padding:5px;
	margin:6px 0;
	border:none;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888;
}

#editPost .labeledTextarea p {
	float:left;
	width:80px;
	line-height:70px;
}

#editPost .labeledTextarea textarea {
	float:left;
	width:520px;
	margin:10px 0;
}

#editPost .labeledInput p {
	float:left;
	width:80px;
}

#editPost .labeledInput input {
	float:left;
	width:520px;
	margin:10px 0;
}

#editTitle {
	font-size: 25px;
	font-weight: bold;
}

#submitPost, #editPost #submitPost {
	float:right;
	box-shadow: none;
	-webkit-box-shadow: none;
	width:100px;
	padding:10px 20px;
	margin-right:27px;
	margin-bottom:100px;
}

/* analytics */

#analytics .left {
	width:320px;
/*	background:red;*/
	height:390px
}

#analytics .left h2 {
	margin-bottom:0;
	text-align:center;
}
/* rest of reset */
.ir{display:block;border:0;text-indent: -999em;overflow: hidden;background-color: transparent;background-repeat: no-repeat;text-align: left;direction: ltr;}.ir br{display: none;}.hidden{display: none !important;visibility: hidden;}.visuallyhidden{border:0;clip: rect(0 0 0 0);height:1px;margin: -1px;overflow: hidden;padding:0;position:absolute;width:1px;}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;margin:0;overflow: visible;position: static;width:auto;}.invisible{visibility: hidden;}.clearfix:before,.clearfix:after{content: "";display: table;}.clearfix:after{clear:both;}.clearfix{zoom:1;}@media only screen and (min-width:480px){}@media only screen and (min-width:768px){}@media print{*{background: transparent !important;color:black !important;text-shadow: none !important;filter:none !important;-ms-filter: none !important;}a,a:visited{text-decoration: underline;}a[href]:after{content: " (" attr(href) ")";}abbr[title]:after{content: " (" attr(title) ")";}.ir a:after,a[href^="javascript:"]:after,a[href^="#"]:after{content: "";}pre,blockquote{border:1px solid #999;page-break-inside:avoid;}thead{display: table-header-group;}tr,img{page-break-inside:avoid;}img{max-width:100% !important;}@page{margin:0.5cm;}p,h2,h3{orphans:3;widows:3;}h2,h3{page-break-after:avoid;}}